/* We did not end up using this CSS file in the design of our web-app. We used version2 instead */

body{
  background-color: #7F110C;
}
.nav-item,a, #foot {
  background-color: white;
  color: black;
  border-color: #7F110C;
}
.navbar, #foot{
  background-color: white;
}

/* hr{
  background-color: black;
} */

.container-fluid{
  color: white;
}

a:hover{
  color: grey;
}

.container{
  background-color: white;
  color: black;
}